# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
!Mall_Customers.csv

# Images
*.png
!customer_segments_plot.png
!elbow_method_plot.png
